* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myFooter-container {
  margin-top: 5rem;
  width: 100%;
  height: 300px;
  background-color: #e34e;
  border-top: 3px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footer-contacts,
.footer-links,
.footer-disclaimer {
  margin-top: 8%;
  width: 250px;
  height: 100px;
  color: black;
  padding: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  font-weight: 500;
}

.footer-links:hover,
.footer-disclaimer:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

.footer-contacts > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-contacts > ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}
